.ui-checkbox {
	appearance: none;
	-webkit-appearance: none;

	position: relative;

	width: 40px;
	height: 40px;
	border: 1px solid green;

	&::before {
		content: '';
		position: absolute;
		@include center;
		width: 20px;
		height: 20px;

		background: red;

		transition: opacity 100ms ease;

		opacity: 0;
	}

	&:checked::before {
		opacity: 1;
	}

	&:focus-visible {
		outline-offset: 2px;
	}
}
